<!DOCTYPE html>
<html>
    <head>
        <title>Just Another Chess Game</title>
        <link rel="stylesheet" href="stylesheets/splashStyle.css">
    </head>
    <body>
        <div class='center'>
            <br>
            <h1 class = "awesome" id = "titleB">ust Another Chess Gam</h1>
            <div class = "playDiv">
                <!--<p class = "awesome" id = "searchText">Searching for a player</p>-->
                <img class="playImg" src="/images/king_piece.png"><img/>
                <a id="playLink" href="/game.html">Play</a>   
            </div>
            </div>
            <footer>
                <p class = "statistics">Statistics</p>
                <p class = "statPara">Games played: <%=gamesPlayed%></p>
                <p class = "statPara">Games won: <%=gamesWon%></p class = "statPara">
                <p class = "statPara">Played white: <%=playedWhite%></p class = "statPara">
            </footer>
            
        <!--<img class="playImg" src="king_piece.png">
            <a class="playLink" href="game.html">Play</a>
        <img/>-->
    </body>

    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script> -->
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="/javascripts/variables.js"></script>
</html>
